main section.hero .container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 32px;
	margin-bottom: 96px;
}

main section.hero .container .window {
	width: 100%;
	margin: 0;
	position: relative;
}


main section.hero .container .window img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

main section.contact {
	background: #fff;
}

main section.contact .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 32px 0;
	margin: 96px 0;
}

main section.contact .container h2 {
	color: black;
	text-align: left;
	text-wrap: balance;
	
	font-weight: 500;
	font-size: 36px;
	letter-spacing: -0.05em;
}

/*main section.contact .container .contact-links {}*/

/*main section.contact .container .contact-links .email {}*/

main section.contact .container .contact-links .email .label {
	font-size: 22px;
	color: rgba(0, 0, 0, 0.75);
}

main section.contact .container .contact-links .email a {
	text-decoration: none;
	position: relative;
	font-size: 24px;
	color: black;
	transition: var(--default-ease);
}

main section.contact .container .contact-links .email a:hover {
	transform: translateX(6px);
}


main section.contact .container .contact-links .email a::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
}

main section.contact .container .contact-links .email a::after {
	content: "";
	position: absolute;
	z-index: 1;
	width: 0;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #000;
	/* transform: scaleX(0); */
	transition: var(--default-ease);
}

main section.contact .container .contact-links .email a:hover::after {
	/* transform: scaleX(1); */
	width: 100%;
}

main section.cta .container {
	margin-top: 112px;
	margin-bottom: 112px;
}

@media screen and (max-width: 769px) {
	main section.contact .container {
		flex-wrap: wrap;
		flex-direction: column;
		align-items: flex-start;
	}
	
	main section.contact .container * {
	
	}
	
	main section.contact .container .contact-links {
		margin-top: 32px;
	}
}

@media screen and (max-width: 600px) {
	main section.hero .container {
		flex-direction: column;
	}
}