@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

/*@view-transition {*/
/*  navigation: auto;*/
/*}*/

/*::view-transition-group(page-content) {*/
/*  animation-duration: 1s;*/
/*  animation-timing-function: ease-out;*/
/*}*/

:root {

  --default-ease: all 0.3s ease;
  --default-ease-out: all 0.3s ease-out;
  --default-ease-in-out: all 0.3s ease-in-out;
}

html,
body {
  background: black;
  color: white;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geist", sans-serif;
  user-select: none;
  scroll-behavior: smooth;
}

.filled-btn {
  background: rgba(255, 255, 255, 1);
  color: black;
  border: 1px solid transparent;
  padding: 8px 12px 8px;
  border-radius: 4px;
  font-family: "Geist", sans-serif;
  font-size: 14px;
  cursor: pointer;
  transition: var(--default-ease);
}

.filled-btn:hover {
  background: rgba(255, 255, 255, 0.75);
}

.outline-btn {
  background: rgba(255, 255, 255, 0);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 8px 12px 8px;
  border-radius: 4px;
  font-family: "Geist", sans-serif;
  font-size: 14px;
  cursor: pointer;
  transition: var(--default-ease);
}

.outline-btn:hover {
  background: rgba(255, 255, 255, 0.2);
}

#mobile-menu {
  position: fixed;
  z-index: 100000;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(12px);
  height: 100vh;
  width: 100vw;
  display: none;
  flex-direction: column;
}

#mobile-menu nav {
  position: relative;
}

#mobile-menu .content {
  padding: 24px;
}

#mobile-menu .content ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

#mobile-menu .content ul h3 {
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 32px;
  font-weight: 200;
}

#mobile-menu .content ul a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 32px;
}

#mobile-menu .content ul a:hover {
  color: rgba(255, 255, 255, 0.75);
}

nav {
  position: fixed;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.667);
  backdrop-filter: blur(12px);
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1024px;
}

nav .container img.logo {
  height: 48px;
  transition: var(--default-ease);
}

nav .container img.logo:hover {
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.2));
  cursor: pointer;
}

nav .container .links {
  display: flex;
  align-items: center;
}

nav .container .links a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.67);
  font-weight: 200;
  margin-right: 32px;
  font-size: 16px;
  transition: var(--default-ease);
}

nav .container .links a:hover {
  color: rgba(255, 255, 255, 1);
}

nav .container .links hr {
  height: 16px;
  color: rgba(255, 255, 255, 0.2);
  margin-right: 32px;
}

nav .container .links #mobile-menu-btn {
  display: none;
}

main {
  width: 100%;
  margin-top: 84px;
  view-transition-name: page-content;
}

main section {
  display: grid;
  place-items: center;
}

main section .container {
  width: 1024px;
}

main .hero {
  background: linear-gradient(#000, #000, #000, #5c6065);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

main .hero .container {
  margin-top: 128px;
}

main .hero .container h1 {
  font-size: 56px;
  font-weight: 500;
  letter-spacing: -0.05em;
  margin-bottom: 32px;
}

main .hero .container p {
  color: rgba(255, 255, 255, 0.67);
  font-weight: 200;
  margin-bottom: 32px;
}

main .hero .container .call-to-action {
  display: flex;
  align-items: center;
  margin-bottom: 84px;
}

main .hero .container .call-to-action button {
  margin-right: 8px;
}

main .hero .container .window {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 32px;
  margin-bottom: 128px;
  background: linear-gradient(#000, #151515);
}

main .hero .container .window::after {
  content: "";
  position: absolute;
  bottom: -15%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 20px;

  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0) 70%
  );

  filter: blur(6px);
}

main .hero .container .window img {
  width: 100%;
  border-radius: 4px;
}

main .services .container {
  margin-top: 128px;
  margin-bottom: 128px;
  display: flex;
}

main .services .container .text {
  width: 60%;
  padding-right: 48px;
}

main .services .container .text h2 {
  font-weight: 500;
  font-size: 36px;
  letter-spacing: -0.05em;
  color: rgba(255, 255, 255, 0.75);
}

main .services .container .text h2 .highlight {
  color: white;
  filter: drop-shadow(0px 4px 10px gray);
  position: relative;
}

main .services .container .text h2 .keyword {
  transition: var(--default-ease);
}

main .services .container .text h2 .keyword:hover {
  filter: drop-shadow(0px 2px 8px #666);
  cursor: pointer;
  color: white;
}

main .services .container .dropdowns {
  width: 40%;
  display: flex;
  padding-left: 48px;
}

main .services .container .dropdowns ul {
  list-style: none;
  height: 100%;
  width: 100%;
}
main .services .container .dropdowns ul li {
  margin-bottom: 32px;
}

/* Style the button that is used to open and close the collapsible content */
main .services .container .dropdowns ul li .collapsible {
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: right;
  outline: none;
  font-size: 24px;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: end;
  transition: var(--default-ease);
}

main .services .container .dropdowns ul li .collapsible:hover {
  color: rgba(255, 255, 255, 0.75);
}

main .services .container .dropdowns ul li .collapsible i {
  margin-left: 16px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
main .services .container .dropdowns ul li .active,
.collapsible:hover {
  background-color: transparent;
}

/* Style the collapsible content. Note: hidden by default */
main .services .container .dropdowns ul li .content {
  padding: 0 18px;
  /* display: none; */
  height: 0;
  overflow: hidden;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.75);
  font-weight: 200;
  margin-top: 4px;
  text-align: left;
  transition: var(--default-ease);
}

main .testimonials .container {
  margin-top: 128px;
  margin-bottom: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .testimonials .container .logos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 128px;
}

main .testimonials .container .logos img {
  height: 64px;
  opacity: 66.7%;
  transition: var(--default-ease);
}

main .testimonials .container .logos img:hover {
  opacity: 75%;
}

main .testimonials .container .buttons {
  display: flex;
  align-items: center;
}

main .testimonials .container .buttons button {
  width: fit-content;
  margin-left: 4px;
  margin-right: 4px;
}

main .process .container {
  margin-top: 128px;
  margin-bottom: 128px;
  display: flex;
  flex-direction: column;
}

main .process .container h2 {
  font-weight: 500;
  font-size: 36px;
  letter-spacing: -0.05em;
  margin-bottom: 64px;
}

main .process .container .content {
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  display: flex;
}

/* main .process .container .content .timeline-block {

}

main .process .container .content .timeline-block:hover {
} */

main .process .container .content .timeline-block .line-box {
  display: flex;
  align-items: center;

}

main .process .container .content .timeline-block .line-box .dot {
  min-width: 24px;
  min-height: 24px;
  background: #1A1B1E;
  border-radius: 50%;
  position: relative;
  transition: var(--default-ease);
}

main .process .container .content .timeline-block:hover .line-box .dot,
main .process .container .content .timeline-block:active .line-box .dot {
  background: rgba(255, 255, 255, 0.1);
}

main .process .container .content .timeline-block:hover .line-box .dot::before,
main .process .container .content .timeline-block:active .line-box .dot::before {
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 10px #f7f7f7, 
              0 0 30px #f7f7f7, 
              0 0 60px #f7f7f7;
}

main .process .container .content .timeline-block .line-box .dot::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #62666D;
  margin-left: -3px;
  margin-top: -3px;
  z-index: 1;
  transition: var(--default-ease);
}


main .process .container .content .timeline-block .line-box .line { 
  width: 90%;
  margin: 0 5%;
  opacity: 50%;
  border: 1px solid rgba(255, 255, 255, .5);
}

main .process .container .content .timeline-block .line-box .line.final-line {
  border: none;
  height: 2px;
  background-image: linear-gradient(to right, rgba(255,255,255,.5), rgba(0,0,0,0))
}

main .process .container .content .timeline-block .text {
  transition: var(--default-ease-out)
}

main .process .container .content .timeline-block:hover .text,
main .process .container .content .timeline-block:active .text {
  transform: translateY(-2px);
  filter: drop-shadow(6px 6px 8px gray);
}

main .process .container .content .timeline-block .text h4 {
  padding: 0 8px;
  font-weight: 500;
  letter-spacing: -0.05em;
  font-size: 18px;
  margin-top: 32px;
  /* margin-bottom: 64px; */
}

main .process .container .content .timeline-block .text p {
  text-wrap: balance;
  padding: 16px 8px;
  color: rgba(255, 255, 255, 0.75);
  font-weight: 200;
  font-size: 14px;
  max-width: 95%;
}

main .faq .container {
  margin-top: 128px;
  margin-bottom: 128px;
  display: flex;
  flex-direction: column;
}

main .faq .container h2 {
  font-weight: 500;
  font-size: 36px;
  letter-spacing: -0.05em;
  margin-bottom: 64px;
}

main .faq .container .dropdowns ul {
  list-style: none;
  height: 100%;
  width: 100%;
}
main .faq .container .dropdowns ul li {
  margin-bottom: 32px;
}

/* Style the button that is used to open and close the collapsible content */
main .faq .container .dropdowns ul li .collapsible {
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  padding: 18px 18px 18px 0;
  width: 100%;
  border: none;
  /* text-align: right; */
  outline: none;
  font-size: 24px;
  font-weight: 200;
  display: flex;
  align-items: center;
  /* justify-content: end; */
  transition: var(--default-ease);
}

main .faq .container .dropdowns ul li .collapsible:hover {
  color: rgba(255, 255, 255, 0.75);
}

main .faq .container .dropdowns ul li .collapsible i {
  margin-right: 16px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
main .faq .container .dropdowns ul li .active,
.collapsible:hover {
  background-color: transparent;
}

/* Style the collapsible content. Note: hidden by default */
main .faq .container .dropdowns ul li .content {
  padding: 0 18px;
  margin-left: 22px;
  /* display: none; */
  height: 0;
  overflow: hidden;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.75);
  font-weight: 200;
  margin-top: 4px;
  text-align: left;
  transition: var(--default-ease);
}

main .cta .container {
  margin-top: 32px;
  margin-bottom: 192px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .cta .container h1 {
  text-align: center;
  font-weight: 500;
  font-size: 64px;
  letter-spacing: -0.05em;
  margin-bottom: 64px;
}

/*main .cta .container h1 .keyword {*/
/*  position: relative;*/
/*  z-index: 1;*/
/*}*/

/*main .cta .container h1 .keyword::after {*/
/*  content: "";*/
/*  position: absolute;*/
/*  left: 0;*/
/*  bottom: -38px;*/
/*  width: 100%;*/
/*  height: 50px;*/
/*  z-index: 2;*/
/*  background-image: url("../public/underline_white.png");*/
/*  background-position: center;*/
/*  background-repeat: no-repeat;*/
/*  background-size: contain;*/

/*}*/

footer {
  width: 100%;
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

footer * {
  color: black;

}

footer .container {
  width: 1024px;
  height: 95%;
  padding: 0;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;

}

footer .footer-list {
  list-style-type: none;
}

footer .footer-list li {
  transition: var(--default-ease-out);
}

footer .footer-list li a {
  text-decoration: none;
  position: relative;
  font-size: 24px;
}

footer .footer-list li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ccc;
  
}

footer .footer-list li a::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  /* transform: scaleX(0); */
  transition: var(--default-ease);
  
}

footer .footer-list li a:hover::after {
  /* transform: scaleX(1); */
  width: 100%;
}

footer .footer-list li:hover {
  transform: translateX(6px)
}

footer .container .footer-top {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 48px;
}

footer .container .footer-top .footer-brand {
  height: 100%;
}

footer .container .footer-top .footer-brand .footer-logo {
  /* width: 400px; */
  height: 128px;
  padding: 36px 0;
  filter: invert(100%);
}

footer .container .footer-top .footer-brand .footer-list {
  /* padding-left: 80px; */
  font-size: 24px;
}

footer .container .footer-top .footer-links {
  display: flex;
  justify-content: flex-end;
  column-gap: 48px;
  padding-top: 36px;
}

footer .container .footer-top .footer-links .footer-column {
  width: fit-content;
  height: 100%;
  /* padding: 0 36px; */
}

footer .container .footer-top .footer-links .footer-column .footer-list li {
  padding-bottom: 12px;
}

footer .container .footer-top .footer-links .footer-column .footer-list li a {
  font-size: 22px;
}

footer .container .footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 200px;
}

footer .container .footer-bottom .footer-social {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .container .footer-bottom .footer-social .social-link {
  width: 24px;
  height: 24px;
  margin: 0 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--default-ease);
  transform: scale(1.1)
}

footer .container .footer-bottom .footer-social .social-link:hover {
  transform: translateY(-2px);
}

footer .container .footer-bottom .footer-social .social-link svg {
  transition: var(--default-ease);
  transform: scale(1.1) 
}

/* footer .container .footer-bottom .footer-social .social-link:hover svg {
  transform: scale(1.2) 
} */

/* For HELLA small devices and also the S25 for some reason??? wtf samsung
ik there's prob a better way to do this but atp
i dont fkn care if i have to duplicate CSS coz fuck CSS
so this is what its gonna be since it works */
@media (max-width: 360px) {
  nav .container .links a {
    display: none;
  }

  nav .container .links hr {
    display: none;
  }

  nav .container .links #mobile-menu-btn {
    display: inline;
    margin-right: 24px;
    margin-left: 16px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
    transition: 0.3s ease;
  }

  nav .container .links #mobile-menu-close-btn {
    display: inline;
    margin-right: 24px;
    margin-left: 16px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
    transition: 0.3s ease;
  }

  nav .container .links #mobile-menu-btn:hover {
    color: rgba(255, 255, 255, 1);
  }

  nav .container .links #mobile-menu-close-btn:hover {
    color: rgba(255, 255, 255, 1);
  }

  main section .container {
    width: 336px;
    margin-left: 16px;
    margin-right: 16px;
  }

  main .hero .container {
    margin-top: 48px;
  }

  main .hero .container h1 {
    font-size: 28px;
    margin-bottom: 24px;
  }

  main .hero .container p {
    font-size: 14px;
  }

  main .hero .container .call-to-action {
    margin-bottom: 48px;
  }

  main .hero .container .window {
    padding: 12px;
    margin-bottom: 24px;
  }

  main .services .container {
    margin-top: 64px;
    margin-bottom: 0;
    flex-direction: column;
  }

  main .services .container .text {
    width: 100%;
    padding-right: 0;
    margin-bottom: 32px;
  }

  main .services .container .text h2 {
    font-size: 24px;
  }

  main .services .container .dropdowns {
    width: 100%;
    padding-left: 0;
  }

  main .services .container .dropdowns ul li {
    margin-bottom: 16px;
  }

  main .services .container .dropdowns ul li .collapsible {
    padding: 18px 0;
    justify-content: start;
    font-size: 21px;
  }

  main .services .container .dropdowns ul li .content {
    padding: 0;
  }

  main .testimonials .container {
    margin-top: 64px;
    margin-bottom: 64px;
  }

  main .testimonials .container .logos {
    margin-bottom: 64px;
  }

  main .testimonials .container .logos img {
    height: 32px;
  }

  main .process .container {
    margin-top: 64px;
    margin-bottom: 0;
  }

  main .process .container h2 {
    font-size: 24px;
    margin-bottom: 48px;
  }

  main .process .container .content {
    flex-direction: column;
  }

  main .process .container .content .timeline-block {
    margin-bottom: 48px;
  }

  main .process .container .content .timeline-block .line-box .dot {
    min-width: 16px;
    min-height: 16px;
  }

  main .process .container .content .timeline-block .line-box .dot::before {
    width: 4px;
    height: 4px;
    margin-left: -2px;
    margin-top: -2px;
  }

  main .process .container .content .timeline-block .line-box .line { 
    margin: 0 2.5%;
    border: none;
    height: 2px;
    background-image: linear-gradient(to right, rgba(255,255,255,.5), rgba(0,0,0,0))
  }

  main .process .container .content .timeline-block .text h4 {
    padding: 0 8px;
    font-size: 18px;
    margin-top: 24px;
  }

  main .process .container .content .timeline-block .text p {
    padding: 12px 8px;
  }

  main .faq .container {
    margin-top: 64px;
    margin-bottom: 64px;
  }

  main .faq .container h2 {
    font-size: 24px;
    margin-bottom: 40px;
  }

  main .faq .container .dropdowns ul li {
    margin-bottom: 24px;
    margin-right: 20px;
  }

  main .faq .container .dropdowns ul li .collapsible {
    font-size: 16px;
    text-align: left;
  }

  main .faq .container .dropdowns ul li .content {
    margin-left: 16px;
  }

  main .cta .container {
    margin-top: 8px;
    margin-bottom: 128px;
  }

  main .cta .container h1 {
    font-size: 32px;
    margin-bottom: 48px;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer .container {
    width: 400px;
    height: 95%;
    margin: 1.5rem;
  }

  footer .footer-list li a {
    font-size: 18px;
  }

  footer .container .footer-top {
    display: flex;
    flex-direction: column;
  }

  footer .container .footer-top .footer-brand .footer-logo {
    height: 56px;
    padding: 18px 0;
  }

  footer .container .footer-top .footer-links .footer-column {
    width: 50%;
  }

  footer .container .footer-top .footer-links .footer-column .footer-list li {
    padding-bottom: 12px;
  }

  footer .container .footer-top .footer-links .footer-column .footer-list li a {
    font-size: 18px;
  }

  footer .container .footer-bottom {
    margin-top: 64px;
  }

  footer .container .footer-bottom .footer-social {
    margin-left: 8px;
  }

  footer .container .footer-bottom .footer-social .social-link {
    margin: 0 12px;
  }
}

@media (min-width: 361px) and (max-width: 430px) {
  nav .container .links a {
    display: none;
  }

  nav .container .links hr {
    display: none;
  }

  nav .container .links #mobile-menu-btn {
    display: inline;
    margin-right: 24px;
    margin-left: 16px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
    transition: 0.3s ease;
  }

  nav .container .links #mobile-menu-close-btn {
    display: inline;
    margin-right: 24px;
    margin-left: 16px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
    transition: 0.3s ease;
  }

  nav .container .links #mobile-menu-btn:hover {
    color: rgba(255, 255, 255, 1);
  }

  nav .container .links #mobile-menu-close-btn:hover {
    color: rgba(255, 255, 255, 1);
  }

  main section .container {
    width: 368px;
    margin-left: 16px;
    margin-right: 16px;
  }

  main .hero .container {
    margin-top: 48px;
  }

  main .hero .container h1 {
    font-size: 32px;
  }

  main .hero .container .call-to-action {
    margin-bottom: 48px;
  }

  main .hero .container .window {
    padding: 16px;
    margin-bottom: 24px;
  }

  main .services .container {
    margin-top: 64px;
    margin-bottom: 0;
    flex-direction: column;
  }

  main .services .container .text {
    width: 100%;
    padding-right: 0;
    margin-bottom: 32px;
  }

  main .services .container .text h2 {
    font-size: 28px;
  }

  main .services .container .dropdowns {
    width: 100%;
    padding-left: 0;
  }

  main .services .container .dropdowns ul li {
    margin-bottom: 16px;
  }

  main .services .container .dropdowns ul li .collapsible {
    padding: 18px 0;
    justify-content: start;
  }

  main .services .container .dropdowns ul li .content {
    padding: 0;
  }

  main .testimonials .container {
    margin-top: 64px;
    margin-bottom: 64px;
  }

  main .testimonials .container .logos {
    margin-bottom: 64px;
  }

  main .testimonials .container .logos img {
    height: 32px;
  }

  main .process .container {
    margin-top: 64px;
    margin-bottom: 0;
  }

  main .process .container h2 {
    font-size: 28px;
    margin-bottom: 48px;
  }

  main .process .container .content {
    flex-direction: column;
  }

  main .process .container .content .timeline-block {
    margin-bottom: 48px;
  }

  main .process .container .content .timeline-block .line-box .dot {
    min-width: 16px;
    min-height: 16px;
  }

  main .process .container .content .timeline-block .line-box .dot::before {
    width: 4px;
    height: 4px;
    margin-left: -2px;
    margin-top: -2px;
  }

  main .process .container .content .timeline-block .line-box .line { 
    margin: 0 2.5%;
    border: none;
    height: 2px;
    background-image: linear-gradient(to right, rgba(255,255,255,.5), rgba(0,0,0,0))
  }

  main .process .container .content .timeline-block .text h4 {
    padding: 0 8px;
    font-size: 18px;
    margin-top: 24px;
  }

  main .process .container .content .timeline-block .text p {
    padding: 12px 8px;
  }

  main .faq .container {
    margin-top: 64px;
    margin-bottom: 64px;
  }

  main .faq .container h2 {
    font-size: 28px;
    margin-bottom: 40px;
  }

  main .faq .container .dropdowns ul li {
    margin-bottom: 24px;
    margin-right: 20px;
  }

  main .faq .container .dropdowns ul li .collapsible {
    font-size: 18px;
    text-align: left;
  }

  main .faq .container .dropdowns ul li .content {
    margin-left: 16px;
  }

  main .cta .container {
    margin-top: 8px;
    margin-bottom: 128px;
  }

  main .cta .container h1 {
    font-size: 32px;
    margin-bottom: 48px;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer .container {
    width: 400px;
    height: 95%;
    margin: 1.5rem;
  }

  footer .footer-list li a {
    font-size: 18px;
  }

  footer .container .footer-top {
    display: flex;
    flex-direction: column;
  }

  footer .container .footer-top .footer-brand .footer-logo {
    height: 56px;
    padding: 18px 0;
  }

  footer .container .footer-top .footer-links .footer-column {
    width: 50%;
  }

  footer .container .footer-top .footer-links .footer-column .footer-list li {
    padding-bottom: 12px;
  }

  footer .container .footer-top .footer-links .footer-column .footer-list li a {
    font-size: 18px;
  }

  footer .container .footer-bottom {
    margin-top: 64px;
  }

  footer .container .footer-bottom .footer-social {
    margin-left: 8px;
  }

  footer .container .footer-bottom .footer-social .social-link {
    margin: 0 12px;
  }
}

@media only screen and (min-width: 431px) and (max-width: 599px) {

  nav .container .links a {
    display: none;
  }

  nav .container .links hr {
    display: none;
  }

  nav .container .links #mobile-menu-btn {
    display: inline;
    margin-right: 24px;
    margin-left: 16px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
    transition: 0.3s ease;
  }

  nav .container .links #mobile-menu-close-btn {
    display: inline;
    margin-right: 24px;
    margin-left: 16px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
    transition: 0.3s ease;
  }

  nav .container .links #mobile-menu-btn:hover {
    color: rgba(255, 255, 255, 1);
  }

  nav .container .links #mobile-menu-close-btn:hover {
    color: rgba(255, 255, 255, 1);
  }

  main section .container {
    width: 399px;
    margin-left: 16px;
    margin-right: 16px;
  }

  main .hero .container {
    margin-top: 48px;
  }

  main .hero .container h1 {
    font-size: 32px;
  }

  main .hero .container .call-to-action {
    margin-bottom: 48px;
  }

  main .hero .container .window {
    padding: 16px;
    margin-bottom: 24px;
  }

  main .services .container {
    margin-top: 64px;
    margin-bottom: 0;
    flex-direction: column;
  }

  main .services .container .text {
    width: 100%;
    padding-right: 0;
    margin-bottom: 32px;
  }

  main .services .container .text h2 {
    font-size: 28px;
  }

  main .services .container .dropdowns {
    width: 100%;
    padding-left: 0;
  }

  main .services .container .dropdowns ul li {
    margin-bottom: 16px;
  }

  main .services .container .dropdowns ul li .collapsible {
    padding: 18px 0;
    justify-content: start;
  }

  main .services .container .dropdowns ul li .content {
    padding: 0;
  }

  main .testimonials .container {
    margin-top: 64px;
    margin-bottom: 64px;
  }

  main .testimonials .container .logos {
    margin-bottom: 64px;
  }

  main .testimonials .container .logos img {
    height: 32px;
  }

  main .process .container {
    margin-top: 64px;
    margin-bottom: 0;
  }

  main .process .container h2 {
    font-size: 28px;
    margin-bottom: 48px;
  }

  main .process .container .content {
    flex-direction: column;
  }

  main .process .container .content .timeline-block {
    margin-bottom: 48px;
  }

  main .process .container .content .timeline-block .line-box .dot {
    min-width: 16px;
    min-height: 16px;
  }

  main .process .container .content .timeline-block .line-box .dot::before {
    width: 4px;
    height: 4px;
    margin-left: -2px;
    margin-top: -2px;
  }

  main .process .container .content .timeline-block .line-box .line { 
    margin: 0 2.5%;
    border: none;
    height: 2px;
    background-image: linear-gradient(to right, rgba(255,255,255,.5), rgba(0,0,0,0))
  }

  main .process .container .content .timeline-block .text h4 {
    padding: 0 8px;
    font-size: 18px;
    margin-top: 24px;
  }

  main .process .container .content .timeline-block .text p {
    padding: 12px 8px;
  }

  main .faq .container {
    margin-top: 64px;
    margin-bottom: 64px;
  }

  main .faq .container h2 {
    font-size: 28px;
    margin-bottom: 40px;
  }

  main .faq .container .dropdowns ul li {
    margin-bottom: 24px;
    margin-right: 20px;
  }

  main .faq .container .dropdowns ul li .collapsible {
    font-size: 18px;
    text-align: left;
  }

  main .faq .container .dropdowns ul li .content {
    margin-left: 16px;
  }

  main .cta .container {
    margin-top: 8px;
    margin-bottom: 128px;
  }

  main .cta .container h1 {
    font-size: 32px;
    margin-bottom: 48px;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer .container {
    width: 400px;
    height: 95%;
    margin: 1.5rem;
  }

  footer .footer-list li a {
    font-size: 18px;
  }

  footer .container .footer-top {
    display: flex;
    flex-direction: column;
  }

  footer .container .footer-top .footer-brand .footer-logo {
    height: 56px;
    padding: 18px 0;
  }

  footer .container .footer-top .footer-links .footer-column {
    width: 50%;
  }

  footer .container .footer-top .footer-links .footer-column .footer-list li {
    padding-bottom: 12px;
  }

  footer .container .footer-top .footer-links .footer-column .footer-list li a {
    font-size: 18px;
  }

  footer .container .footer-bottom {
    margin-top: 64px;
  }

  footer .container .footer-bottom .footer-social {
    margin-left: 8px;
  }

  footer .container .footer-bottom .footer-social .social-link {
    margin: 0 12px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
  nav .container .links a {
    display: none;
  }

  nav .container .links hr {
    display: none;
  }

  nav .container .links #mobile-menu-btn {
    display: inline;
    margin-right: 24px;
    margin-left: 16px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
    transition: 0.3s ease;
  }

  nav .container .links #mobile-menu-close-btn {
    display: inline;
    margin-right: 24px;
    margin-left: 16px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
    transition: 0.3s ease;
  }

  nav .container .links #mobile-menu-btn:hover {
    color: rgba(255, 255, 255, 1);
  }

  nav .container .links #mobile-menu-close-btn:hover {
    color: rgba(255, 255, 255, 1);
  }

  main section .container {
    width: 568px;
    margin-left: 16px;
    margin-right: 16px;
  }

  main .hero .container {
    margin-top: 48px;
  }

  main .hero .container h1 {
    font-size: 32px;
  }

  main .hero .container .call-to-action {
    margin-bottom: 48px;
  }

  main .hero .container .window {
    padding: 16px;
    margin-bottom: 24px;
  }

  main .services .container {
    margin-top: 64px;
    margin-bottom: 0;
    flex-direction: column;
  }

  main .services .container .text {
    width: 100%;
    padding-right: 0;
    margin-bottom: 32px;
  }

  main .services .container .text h2 {
    font-size: 28px;
  }

  main .services .container .dropdowns {
    width: 100%;
    padding-left: 0;
  }

  main .services .container .dropdowns ul li {
    margin-bottom: 16px;
  }

  main .services .container .dropdowns ul li .collapsible {
    padding: 18px 0;
    justify-content: start;
  }

  main .services .container .dropdowns ul li .content {
    padding: 0;
  }

  main .testimonials .container {
    margin-top: 64px;
    margin-bottom: 64px;
  }

  main .testimonials .container .logos {
    margin-bottom: 64px;
  }

  main .testimonials .container .logos img {
    height: 32px;
  }

  main .process .container {
    margin-top: 64px;
    margin-bottom: 0;
  }

  main .process .container h2 {
    font-size: 28px;
    margin-bottom: 48px;
  }

  main .process .container .content {
    flex-direction: column;
  }

  main .process .container .content .timeline-block {
    margin-bottom: 48px;
  }

  main .process .container .content .timeline-block .line-box .dot {
    min-width: 16px;
    min-height: 16px;
  }

  main .process .container .content .timeline-block .line-box .dot::before {
    width: 4px;
    height: 4px;
    margin-left: -2px;
    margin-top: -2px;
  }

  main .process .container .content .timeline-block .line-box .line { 
    margin: 0 2.5%;
    border: none;
    height: 2px;
    background-image: linear-gradient(to right, rgba(255,255,255,.5), rgba(0,0,0,0))
  }

  main .process .container .content .timeline-block .text h4 {
    padding: 0 8px;
    font-size: 18px;
    margin-top: 24px;
  }

  main .process .container .content .timeline-block .text p {
    padding: 12px 8px;
  }

  main .faq .container {
    margin-top: 64px;
    margin-bottom: 64px;
  }

  main .faq .container h2 {
    font-size: 28px;
    margin-bottom: 40px;
  }

  main .faq .container .dropdowns ul li {
    margin-bottom: 24px;
    margin-right: 20px;
  }

  main .faq .container .dropdowns ul li .collapsible {
    font-size: 18px;
    text-align: left;
  }

  main .faq .container .dropdowns ul li .content {
    margin-left: 16px;
  }

  main .cta .container {
    margin-top: 8px;
    margin-bottom: 128px;
  }

  main .cta .container h1 {
    font-size: 32px;
    margin-bottom: 48px;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer .container {
    width: 400px;
    height: 95%;
    margin: 1.5rem;
  }

  footer .footer-list li a {
    font-size: 18px;
  }

  footer .container .footer-top {
    display: flex;
    flex-direction: column;
  }

  footer .container .footer-top .footer-brand .footer-logo {
    height: 56px;
    padding: 18px 0;
  }

  footer .container .footer-top .footer-links .footer-column {
    width: 50%;
  }

  footer .container .footer-top .footer-links .footer-column .footer-list li {
    padding-bottom: 12px;
  }

  footer .container .footer-top .footer-links .footer-column .footer-list li a {
    font-size: 18px;
  }

  footer .container .footer-bottom {
    margin-top: 64px;
  }

  footer .container .footer-bottom .footer-social {
    margin-left: 8px;
  }

  footer .container .footer-bottom .footer-social .social-link {
    margin: 0 12px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  nav .container .links button {
    margin-right: 24px;
  }

  main section .container {
    width: 736px;
    margin-left: 16px;
    margin-right: 16px;
  }

  main .hero .container {
    margin-top: 64px;
  }

  main .hero .container h1 {
    font-size: 48px;
  }

  main .services .container {
    margin-top: 96px;
    margin-bottom: 32px;
  }

  main .testimonials .container {
    margin-top: 96px;
    margin-bottom: 64px;
  }

  main .process .container {
    margin-bottom: 64px;
  }

  main .process .container .content {
    flex-direction: column;
  }

  main .faq .container {
    margin-top: 64px;
  }

  main .cta .container {
    margin-top: 0;
  }

  main .cta .container h1 {
    font-size: 48px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  nav .container .links button {
    margin-right: 24px;
  }

  main section .container {
    width: 928px;
    margin-left: 32px;
    margin-right: 32px;
  }

  main .hero .container {
    margin-top: 96px;
  }

  main .hero .container .window {
    margin-bottom: 96px;
  }

  main .services .container {
    margin-top: 96px;
    margin-bottom: 48px;
  }

  main .testimonials .container {
    margin-bottom: 96px;
  }

  main .process .container {
    margin-bottom: 16px;
  }
}

@media only screen and (min-width: 1200px) {
  main .process .container .content {
    flex-direction: row !important;
  }
}